*, h1 {
 font-family: 'Yanone Kaffeesatz', sans-serif;
}

body{
    background: url("/img/nightSkyviews.jpeg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    height: 800px;
    width: 100%;
    margin-top: 0;
}

#landingNav{
  background-color: rgba(255,255,255,0);
  border: none;
  border-style: none;
  color: white !important;
}

a{
  color: rgba(255,255,255,0.9) !important;
}

h1, p, .fa, .form-group{
  color: white;
}

.form-group, p{
  font-size: 20px;
}

p{
  text-align: right;
}

h1{
  text-align: center;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: black;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  background: white;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 20px;
}

.login{
  float: right;

}
.btn{
  background-color: #E67446;
  color: white;
  font-size: 24px;
  width: 100px;
}
/********** SPARKLES ***********/

@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Montez);

$buttonBackground: #2c3e50;
$buttonColor: rgba(255,255,255,1);

.sparkley {

  transition: all 0.25s ease;
  
  &:hover {
    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );
    
  }
  
}
.landing {

  transition: all 0.25s ease;
  
  &:hover {
    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );
    
  }
  
}