/*

.ball {
    left: 200px;
    top: 0px;
    position: absolute;
}*/

.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size:2em;
    margin-left: 100px;
}

/*#one-joke p {

}*/


.row{
    height: 1000px;
    width: 1000px;
}

.heading{
  color:black;
}
.heading:hover{
  color:darkgrey;
}
#jokeOptions{
    margin-top: 100px;
    text-align: center;
}

#jokeForm{
    height: 300px;
    background-color: transparent;
    color: tomato;
    font-size: 1.9em;
}
#catFrom{
    background-color: transparent;
    font-size: 1.2em;
}
#makeBallButton{
    background: green;
    margin-top: 5px;
}
.head{
    text-align:left;
    margin-top: 25px;
}

#idx-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.jumbotron{
    background: url("img/catFlyingInSpace.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 0;
    opacity: 0.7;
    padding: 0;
   /* width: 100%;*/
}
.navbar, .navbar-default, .navbar-collapse, .nav {
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
}

#brand {
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
}

#makeYourOwn{
    width: 500px;
}

#preMade{
    background: transparent;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 50px;
    
}
#preMade button {
    color: black;
    
}
#dropDown{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left:50px;
    margin-top: 50px;
    /*border: 1px solid white;*/
    width: 250px;
}

#logIn{
    font-size: 24px;
}

#nav{
    margin-bottom: 0;

}
#magic8Ball{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#profiles{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#background{
    background-color: #fefdfb;
}




