*{
 font-family: 'Yanone Kaffeesatz', sans-serif;
 list-style: none;
}
#idx-img{
 width: 100%;
 height: 100%;
 background-size: cover;
 position: fixed;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.rainbow {
 /*background-image: -webkit-gradient( linear, left top, right top, color-stop(0, yellow), color-stop(0.15, #aff), color-stop(0.3, #22f), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(1, #f22) );
 background-image: gradient( linear, left top, right top, color-stop(0, yellow), color-stop(0.15, #aff), color-stop(0.3, #22f), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(1, #f22) );*/
 background: linear-gradient(to right, springgreen, gold, magenta);
 color:transparent;
 -webkit-background-clip: text;
 background-clip: text;
}
/**********************Nav Bar*************************/
.navbar, .navbar-default, .navbar-collapse, .nav, #navbar-collapse-1 {
 font-family: 'Yanone Kaffeesatz', sans-serif;
 font-size: 24px;
 margin-bottom: 0;
 background-color: black;
 border-bottom: black;
 color: white;
 margin-bottom: 0;
}

a.dropdown-toggle:hover {
  color: white;
  background-color: black;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: black !important;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

a {
  color: white;
}
#brand {
 font-family: 'Yanone Kaffeesatz', sans-serif;
 font-size: 32px;
 background-color: black;
 color: white;
 border-style: none;

}

/**************************Ball Size and Position and Words****************************/
.ball{
 display: flex;
 justify-content: center;
 align-items: center;
 color: green;
 text-align: center;
 font-size:2em;
}
#words {
 position: absolute;
 top: 60%;
 right: 50%;
 color: white;
 font-family: 'Yanone Kaffeesatz', sans-serif;
}
#8ball {
 z-index: -1;

}
img.resize{
  max-width: 100%;
  max-height: 100%;
  margin-left: 250px;
}

/*****************Make New Ball **********************************/
/*#jokeForm {
 height: 50px;
 color: tomato;
 font-size: 1.4em;
 background-color: grey;
}*/

.makeJoke{
  width: 800px;
 
}

#catForm, #jokeForm{
  font-size: 1.5em;
}

#formHead{
  text-align: center;
}
#makeBallButton {
 background-image: radial-gradient(
     rgba(0,0,0,1),
     rgba(074, 112, 200, 0.6),
     rgba(255, 0, 0, 0.7),
     rgba(255, 0, 255, 0.7),
     rgba(071, 255, 251, 0.7),
     rgba(221, 160, 157, 0.7),
     rgba(130, 031, 098, 0.7),
     rgba(230, 210, 198, 0.7)
     );
 font-size: 1.9em;
 height: 100%;
 width: 100%;
 color:white;
 margin: auto;
 /*border-radius: 95%*/;
}

/*****************************ABOUT PAGE********************************/

#profiles{
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}
#background{
 background-color: #fefdfb   ;
}
/****************************About Dev's heading*****************************/
.heading {
color:black;

}
.heading:hover {
color:hotpink;
}
/*************************CATEGORY LIST*******************************/



#preMade{
 background: transparent;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 margin-left: 50px;
 
}
/******************************DIRCETIONS************************************/

#catball {
 color: white;
 margin-left: 50px;
 padding-top: 75px;
}
/*********************CAT BUBBLE***************************/

#chatBubble{    
 z-index: -1;

}
#catWords{
 position: absolute;
 top: 10%;
 right: 40%;
 color: black;
 font-family: 'Yanone Kaffeesatz', sans-serif;
 max-width: 120px;
  
}
